<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Examen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-text color="primary" class="ion-text-center">
        <h1>{{ this.multiplication }}</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-text color="tertiary">
      <p>Escribe el resultado</p>
    </ion-text>
    <ion-input type="text" class="ion-text-center ion-margin-bottom" [(ngModel)]="resultInput" autofocus></ion-input>
    <ion-button (click)="checkResult()" expand="block" shape="round">
      Siguiente
    </ion-button>
  </ion-card>
  <p>Buenas: {{ history.hits }} | Malas: {{ history.mistakes }}</p>
</ion-content>
