<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <!-- <ion-col size="6">
      <ion-card (click)="suma()">
        <ion-card-header>
          <ion-card-title>Suma</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card (click)="resta()">
        <ion-card-header>
          <ion-card-title>Resta</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col> -->
    <ion-col size="6">
      <ion-card (click)="multiplicacion()">
        <ion-card-header>
          <ion-card-title>Multiplicación</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <!-- <ion-col size="6">
      <ion-card (click)="division()">
        <ion-card-header>
          <ion-card-title>División</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col> -->
  </ion-row>
</ion-content>
